<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.gob.seguropopulartlax.bitacora_vehicular_repss">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".Login"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuPrincipal"
            android:label="Bitácora Vehicular"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Recorridos"
            android:label="Recorrido"
            android:theme="@style/ThemeRecorrido"
            android:parentActivityName=".MenuPrincipal"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".Finalizar_recorrido"
            android:label="Finalizar Recorrido"
            android:parentActivityName=".MenuPrincipal"
            android:theme="@style/ThemeRecorrido"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".Recarga_combustible"
            android:label="Recarga de Combustible"
            android:parentActivityName=".MenuPrincipal"
            android:theme="@style/ThemeRecarga_combustible"
            android:windowSoftInputMode="stateHidden"/>

    </application>

</manifest>